@model CommunucationInfo
@{
    ViewData["Title"] = "UpdateContactInfo";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Adres Güncelleme</h1>

<form method="post">
    <input type="hidden" asp-for="communucationInfoID" />
    <label>Adress</label>
    <input type="text" asp-for="address" class="form-control" style="border:1px solid #2222" />
    <br />
    <label>Telefon</label>
    <input type="text" asp-for="phone" class="form-control" style="border:1px solid #2222" />
    <br />
    <label>Email</label>
    <input type="text" asp-for="email" class="form-control" style="border:1px solid #2222" />
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>

