@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Hakkında</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.aboutID</td>
            <td>@item.title</td>
            <td><a href="/About/deleteAbout/@item.aboutID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/About/updateAbout/@item.aboutID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/About/addAbout" class="btn btn-outline-primary">Yeni Hakkımda Girişi</a>

