@model CarDetail
<div class="sidebar-box">
    <img src="@Model.appuser.imageUrl" alt="Free Website Template by Free-Template.co" 
    class="img-fluid mb-4 w-50 rounded-circle">
    <h3 class="text-black">@Model.appuser.name</h3>
    <p>@Model.appuser.city</p>
    <p><a href="/Car/carList2" class="btn btn-primary btn-md text-white">Araç Listesi</a></p>
</div>