@model List<Service>


<div class="site-section">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 mb-4 mb-lg-5">
                    <div class="service-1 dark">
                        <span class="service-1-icon">
                            <span class="@item.icon"></span>
                        </span>
                        <div class="service-1-contents">
                            <h3>@item.tittle</h3>
                            <p>@item.descreption</p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>