﻿<div class="site-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mb-5 mb-lg-0">
				<img src="~/carrent-master/images/hero_1.jpg" alt="Image" class="img-fluid">
			</div>
			<div class="col-lg-4 ml-auto">
				<h2>Bizim Hikayemiz</h2>
				<p>
					Şirketimiz başlangıcından itibaren tutkuyla sarılmış olduğu bir vizyon ile yola çıktı.
				</p>
				<p>
					Her bir üye, şirketimizin temelini oluşturan değerlere sadık kalarak,
					müşterilere sağladığımız değeri en üst seviyeye çıkarmak için bir araya geldik.
				</p>
			</div>
		</div>
	</div>
</div>