@model CarCategory
@{
    ViewData["Title"] = "updateCarCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3> Kategori Güncelleme</h3> <br />

<form method="post">
    <input type="hidden" asp-for="carcategoryID" />
    <label>Kategori Adı</label>
    <input type="text" style="border:2px solid #2222" asp-for="carcategoryName" class="form-control" />
    <br />
    <label>Kategori Açıklaması</label>
    <input type="text" style="border:2px solid #2222" asp-for="descreption" class="form-control" />
    <br />
    <label>Kategori Durumu</label>
    <select asp-for="cateStatus" class="form-control" style="border:2px solid #2222">
        <option value="True">Aktif</option>
        <option value="False">Pasif</option>
    </select>
    <br />
    <button class="btn btn-primary">Güncelle</button>

</form>

